.ck-editor__editable_inline {
    min-height: 400px;
}
.bg-light-blue{
    background-color: #defcff !important;
}
.image-upload {
    position: relative;
    max-width: 100%;
    margin: 50px auto;
}

.image-upload .image-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.image-upload .image-preview .imagePreview {
    background-image: url('/site/img/settings/sliders/no__image.png');
    background-size: 100%;
    background-position: center;
}

.image-upload .image-edit input {
    display: none;
}

.image-upload .image-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.image-upload .image-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.image-upload .image-edit input + label:after {
    content: "\2630";
    color: #757575;
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.image-upload .image-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.image-upload .image-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.dataTables_wrapper{
    min-height: 135px !important;
}
div.dataTables_wrapper div.dataTables_processing{
    top: 0 !important;
    left: 0 !important;
    background-color: #fff6 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
    align-items: center !important;
    justify-content: center !important;
    box-sizing: border-box !important;
    border: none !important;
    z-index: 2;
}
div.dataTables_wrapper div.dataTables_processing .fa.fa-spinner{
    position: absolute !important;
    top: 50% !important;
    box-sizing: border-box !important;
}
.borderless,table.borderless td,table.borderless th {
    border:none !important;
}
@media only screen and (max-width: 991px) {
    .image-upload .image-preview {
        max-width: 100% !important;
    }
}