* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #494949;
}

button {
    cursor: pointer;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.container {
    max-width: 992px;
    margin: 0 auto;
}

.header {
    position: relative;
    z-index: 100;
    width: 100%;
    background-color: #F8F8F8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.header .container {
    display: flex;
    justify-content: space-between;
    height: 129px;
}

.header .container .left {
    position: relative;
    display: flex;
    align-items: flex-start;
    font-weight: bold;
    flex-direction: column;
    font-size: 13px;
}

.header .container .left .text {
    color: #1B8BCB;
    position: absolute;
    bottom: 30px;
    left: 12px;
    white-space: nowrap;
}

.header .container .right .authorization {
    display: flex;
    justify-content: center;
    font-size: 16px;

}

.header .container .right .authorization .registration {
    padding: 13px 12px;
    background-color: #1B8BCB;
    border-right: 1px solid #E5E5E5;
    color: #ffffff;
    text-align: center;
}

.header .container .right .authorization .registration:hover {
    text-shadow: 0px 0px 4px #FFFFFF;
}

.header .container .right .authorization .login {
    padding: 13px 12px;
    background-color: #1B8BCB;
    color: #ffffff;
}

.header .container .right .authorization .login:hover {
    text-shadow: 0px 0px 4px #FFFFFF;
}

.header .container .right p {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.header .container .right li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.header .container .right img {
    width: 40px;
    height: 40px;
}

/*Для аккаунта*/
.header .container .right .userin {
    display: flex;
    align-items: center;
}

.header .container .right .userin a {
    color: #494949;
}

.header .container .right .userin .accaunt {
    display: flex;
    align-items: center;
    margin-left: 44px;
}

.header .container .right .userin .accaunt a {
    display: flex;
}

.header .container .right .userin .accaunt .username {
    margin-right: 10px;
    font-weight: bold;
}

.header .container .right .userin .accaunt .avatar {
    width: 79px;
    height: 79px;
}

.header .container .right .userin .accaunt .drop-menu li p {
    border-bottom: 2px solid #ffffff;
}

.header .container .right .userin .accaunt .drop-menu li p:hover {
    border-bottom: 2px solid #1B8BCB;
}

.header .container .right .userin .accaunt .drop-menu li img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.header .container .right .userin .drop-menu img {
    width: 263px;
    height: 149px;
}

.overlay .modal.open form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
    padding: 40px;
    -webkit-box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
}

.overlay .modal.open form h1 {
    margin-bottom: 10px;
}

.overlay .modal.open form p {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}

.overlay .modal.open form input {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
}

.overlay .modal.open form input[type="text"], .overlay .modal.open form input[type="password"] {
    -webkit-box-shadow: inset 0px 0px 24px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 24px -10px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 24px -10px rgba(0, 0, 0, 0.75);
    border: none;
    outline: none;
    box-sizing: border-box;
}

.overlay .modal.open form input.sub {
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.nav {
    background-color: #F8F8F8;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    height: 49px;
}

.nav .active {
    border-bottom: 4px solid #1B8BCB;
    position: relative;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.nav ul li {
    display: flex;
}

.nav ul a {
    color: #494949;
    padding: 15px 0 11px 0;
}

.nav .active:hover {
    border: none;
}

.nav ul a:hover {
    border-bottom: 4px solid #1B8BCB;

}


.hamburger {
    display: none;
}

.name-page {
    display: none;
}

.footer {
    width: 100%;
    background: #1B8BCB;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    padding: 40px 0;
}

.main {
    padding: 15px 0;
}

.main .container > p {
    padding: 10px 0;
}

.main .container .title {
    font-size: 24px;
    margin-top: 30px;
}

.main .blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

.main .blocks .kupon {
    /*background-image: url(../img/kupon.png);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 190px;
    height: 257px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.main .blocks .kupon img {
    margin-top: 20px;
}

.main .blocks .kupon .price {
    font-size: 16px;
    color: #494949;
    margin-top: 20px;
    margin-bottom: 35px;
    text-align: center;
    font-weight: bold;
}

.main .blocks .kupon .nominal {
    font-size: 24px;
    color: #FF3249;
}

.main .payment .pay {
    margin: 5px;
    width: 127px;
    text-transform: uppercase;
    display: flex;
    border: 1px solid #494949;
    border-radius: 10px;
    justify-content: center;
    padding: 7px 0;
    font-size: 24px;
    color: #ffffff;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    border: 1px solid #ddd;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

.main .payment .pay.active {
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pay img {
    height: 25px;
}

.main .center {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.main .buy[type="submit"]:not(.button__app) {
    background: none;
    padding: 10px 25px;
    border: 2px solid #1B8BCB;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;

    cursor: pointer;
    text-align: center;
    margin-bottom:30px
}

.footer a {
    color: #ffffff;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer .container .left {
    display: flex;
    width: 60%;
}

.footer .container .logo {
    margin-bottom: 10px;
}

.footer .container .left .description {
    font-size: 16px;
}

.footer .container .left p span {
    font-size: 12px;
}

.footer .container .social .title {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer .container .social img {
    width: 25px;
    height: 25px;
}

.footer .container .social li {
    display: flex;
    align-items: center;
}

.footer .container .social li span {
    margin-left: 5px;
}

.footer .container .right {
    text-align: right;
}

.footer .container .right p {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer .container .right a {
    line-height: 125%;
}

.down-footer {
    background: #167DB8;
    font-size: 14px;
    color: #ffffff;
}

.down-footer .container {
    display: flex;
    justify-content: space-between;
}

.down-footer .container p {
    padding: 5px 0;
}

.down-footer .container a {
    text-decoration: underline;
    color: #ffffff;
}

.kupon input {
    display: none;
}

.kupon .uncheck {
    width: 25px;
    min-height: 25px;
    cursor: pointer;
    background-image: url('img/uncheck.png');
    background-position: center;
    background-size: cover;
}

.kupon .check {
    width: 25px;
    min-height: 25px;
    cursor: pointer;
    background-image: url('img/check.png');
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 991.98px) {
    .main .container {
        /* padding: 0 15px; */
    }
}

@media screen and (max-width: 575.98px) {
    .main {
        margin: 0 15px;
    }

    .main .center {
        margin: 0;
    }

    .header {
        /* padding: 0 15px; */
    }
}

.main .blocks .kupon {
    position: relative;
}

.kupon-bonus {
    position: absolute;
    bottom: -30px;
    color: red;
    font-weight: bold;
    letter-spacing: 1px;
}

.order-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 0;
    flex-wrap: wrap;
}

.order-desc {
    border: 1px solid #ccc;
    width: auto;
    margin-right: 20px;
    display: inline-block
}

.order-desc .order-desc-name {
    margin: 30px;
    display: inline-block;
    vertical-align: top;
}

.order-desc .order-desc-name a {
    color: #000;
    font-weight: bold;
}

.order-name {
    margin-top: 50px;
}

.order-img {
    margin: 20px;
    display: inline-block;
}

.order-price {
    float: right;
    display: inline-block;
    min-width: 350px;
}

.order-price .o-item {
    margin: 8px 0;
    font-family: sans-serif
}

.order-price .o-item div {
    display: inline-block;
}

.order-price .o-item div:nth-of-type(2) {
    display: inline-block;
    float: right;
    font-weight: bold;
    padding-left: 10px;
}

.order-price .o-item.result {
    border-top: 1px dashed #ccc;
    padding-top: 5px;
}

.payment-methods {
    margin-bottom: 15px;
}

.payment-methods img {
    max-width: 100%;
}

