label.app-style-input {
    width: 25px;
    height: 25px;
}

label.app-style-input > [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

label.app-style-input > [type=radio] + span {
    display: inline-block;
    width: inherit;
    height: inherit;
    cursor: pointer;
    background-image: url('img/uncheck.png');
    background-position: center;
    background-size: cover;
}

label.app-style-input > [type=radio]:checked + span {
    background-image: url('img/check.png');
}

button:focus,
input[type='button']:focus,
input[type='submit']:focus {
    outline: 0;
}

.d-none {
    display: none;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

/* pagination */
.mt-25 {
    margin-top: 25px !important;
}

.pagination {
    display: -ms-flexbox;
    flex-wrap: wrap;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    justify-content: center;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #3490dc;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.order__status {
    min-height: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-link:hover {
    z-index: 2;
    color: #1d68a7;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #3490dc;
    border-color: #3490dc;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.7875rem;
    line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

.footer {
    width: 100%;
    background: #1B8BCB;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    padding: 15px 0px 40px 0px;
    font-size: 14px;
}

.footer a {
    color: #ffffff;
}

.footer > .container ul:not(.payment-methods) li {
    margin: 5px 0;
}

.footer .container {
    display: flex;
    /*justify-content: space-between;*/
}

.footer .container .left {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.footer .container .logo {
    width: 200px;
    /*margin-bottom: 10px;*/
}

.footer .container .left .description {
    font-size: 16px;
}

.header .container .left img {
    width: 190px;
    height: 98px;
    margin-bottom: 5px;
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

.footer .container .logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-left: -10px;
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

.footer .container .left p span {
    font-size: 12px;
}

.footer .container .social .title {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer .container .social img {
    width: 25px;
    height: 25px;
}

.footer .container .social li {
    display: flex;
    align-items: center;
}

.footer .container .social li span {
    margin-left: 5px;
}

.footer .container .right {
    text-align: right;
}

.footer .container .right p {
    font-weight: bold;
    margin-bottom: 10px;
}

.down-footer {
    background: #167DB8;
    font-size: 14px;
    color: #ffffff;
}

.down-footer .container {
    display: flex;
    justify-content: space-between;
}

.down-footer.fix {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.down-footer .container p {
    padding: 5px 0;
}

.down-footer .container a {
    text-decoration: underline;
    color: #ffffff;
}

/*end*/
.container {
    max-width: 992px;
    margin: 0 auto;

}

.footer > .container {
    display: flex;
    justify-content: space-between;
}

.footer > .container nav {
    margin: 10px 0;
}

.footer .container .left {
}

.footer ul.payment-methods {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    align-items: center;
}

.footer ul.payment-methods > li {
    /*background-color: #FFFFFF;*/
    /*border-radius: 3px;*/
    /*border: 1px solid #FFFFFF;*/
    background-image: url(../img/payment.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: -5px;
    background-size: cover;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 65px;
    height: 65px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul.payment-methods > li > a {
    display: block;
    width: 100%;
    height: 40px;
}

.footer ul.payment-methods > li.visa {
    background-position-x: -6px;
}

.footer ul.payment-methods > li.master {
    background-position-x: -89px;
}

.footer ul.payment-methods > li.mir {
    background-position-x: -172px;
}

.footer ul.payment-methods > li.sberbank {
    background-position-x: -255px;
}

.footer ul.payment-methods > li.free-kassa {
    background-position-x: -337px;
}

.footer ul.payment-methods > li.yoo-money {
    background-color: #ffffff;
    background-image: url("../img/payment/yoo-money.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    width: 60px;
    height: 38px;
    margin-top: 2px;
}

.footer ul.payment-methods > li.qiwi {
    background-position-x: -420px;
}

.footer ul.payment-methods > li.webmoney {
    background-position-x: -502px;
}


.footer ul.payment-methods > li.mts {
    background-position-x: -586px;
}

.footer ul.payment-methods > li.megafon {
    background-position-x: -669px;
}

.footer ul.payment-methods > li.beeline {
    background-position-x: -752px;
}

.footer ul.payment-methods > li.tele2 {
    background-position-x: -834px;
}

.authenticate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0;

}

.authenticate form {
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    padding: 40px;
    -webkit-box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
}

.authenticate form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.authenticate form input[type="text"], .authenticate form input[type="password"] {

    -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.41);
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.41);
    border: none;
    outline: none;
}

.authenticate form input {
    width: 100%;
    margin: 5px 0;
    border-radius: 2px;
    padding: 10px;
    box-sizing: border-box;
}

.authenticate form label {
    margin-bottom: 10px;
    /*font-weight: bold;*/
}

.authenticate form button[type="submit"] {
    margin-top: 10px;
    background-color: #1B8BCB;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    box-shadow: 0px 5px 0px 0px #236388;
    outline: none;
    text-shadow: 0px 0 0px #f9f9f9;
    font-weight: 700;
}

.authenticate a {
    color: #1B8BCB;
}

.w-100 {
    width: 100% !important;
}

.w-50 {
    width: 50% !important;
}

.d-flex {
    display: flex !important;
}

.d-flex.flex-row-reverse {
    flex-direction: row-reverse !important;
}

.d-flex.flex-row {
    flex-direction: row !important;
}

.d-flex.justify-content-between {
    justify-content: space-between !important;
}

.d-flex.align-items-center {
    align-items: center !important;
}

.subscribe {
    width: 50%;
    margin-top: 50px;
}

.personal-info {
    padding-top: 10px;
    display: flex !important;
    margin: 5px 50px !important;
    align-items: baseline !important;
    justify-content: space-between !important;
    border-top: 1px solid #939393 !important;
    /*border-bottom: 1px solid #939393 !important;*/
}

table.personal__info {
    padding-top: 10px;
    display: flex !important;
    margin: 25px 0px !important;
    align-items: baseline !important;
    justify-content: space-between !important;
    min-height: 150px;
}

table.personal__info td {
    padding: 5px 0;
}

.personal-info > .personal-desc, .personal-edit {
    display: flex !important;
    width: 50% !important;
    flex-wrap: wrap !important;
}

.personal-info > .personal-desc {
    color: #1B8BCB !important;
    font-weight: bold !important;
}

.personal-info > .personal-edit .personal-item {
    width: 100% !important;
    padding: 5px 0 !important;
    box-sizing: border-box !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.personal-info > .personal-edit .personal-item input#code {
    width: 100px;
}

.personal-info .personal-item-title {
    /*max-width: 130px !important;*/
}

.personal-info > .personal-edit input, select {
    margin: 5px 0 !important;
}

.personal-info > .personal-edit select {
    height: 25px !important;
}

.button__app {
    background-color: #1B8BCB;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    font-size: 15px;
    white-space: nowrap;
    cursor: pointer;
}

.is-invalid {
    border-color: red !important;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}

/*.disabled:hover {*/
/*    cursor: not-allowed !important;*/
/*}*/

small.is-invalid {
    color: red !important;
}

.notify__modal {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    position: fixed !important;
    z-index: 100001 !important;
    width: 100% !important;
    height: 100vh !important;
    background-color: rgba(0, 0, 0, 0.38) !important;
}

.notify__modal > .notify.notify__item {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background-image: linear-gradient(to bottom, #fffafa, #ffffff, #ffffff, #d0d0d0, #a5a5a5);
}

.notify__modal > .notify.notify__item .bonus__30 {
    background-image: url(../img/settings/bonus_30.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -150px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 190px;
}

.notify__modal > .notify.notify__item h3 {
    color: #3e8ccb;
    width: 60%;
    float: right;
    text-align: center;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.notify__modal > .notify.notify__item h2 {
    color: #ff0000;
    display: inline-block;
    font-size: 35px;
    margin-left: 30px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.notify__modal > .notify.notify__item h2 > span {
    font-size: 45px;
}

.notify__modal > .notify__item {
    border-radius: 4px;
    position: relative !important;
    /*max-width: 500px !important;*/
    min-width: 200px !important;
    /*min-height: 200px !important;*/
    /*background-color: #dedfe4 !important;*/
    margin: 5px !important;
    /*background-image: -webkit-gradient(linear, left top, right bottom, from(#84b5ff), color-stop(#66cdf5), color-stop(#88dcdd), color-stop(#bce6cf), to(#e6edd7));*/
    /*background-image: -o-linear-gradient(left top, #84b5ff, #66cdf5, #88dcdd, #bce6cf, #e6edd7);*/
    /*background-image: linear-gradient(to right bottom, #84b5ff, #66cdf5, #88dcdd, #bce6cf, #e6edd7);*/
}

.notify__modal.notify__info > .notify__item {
    border-radius: 4px;
    border: 2px solid #3e8ccb;
    background-image: linear-gradient(to right bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);;
}

.notify__modal.show {
    display: flex !important;
}

.notify__modal.close {
    display: none !important;
}

.notify__modal > .notify__item .notify__modal__btn__close.btn__close {

    width: 30px !important;
    height: 30px !important;
    position: absolute !important;
    right: -5px !important;
    top: -5px !important;
    background-color: rgba(255, 0, 0, 0.75) !important;
    border-radius: 50% !important;
    border: 2px solid white !important;
    color: white !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-weight: bold !important;
    font-size: larger;
}

.notify__modal > .notify__item .notify__modal__btn__close.btn__close:hover {
    background-color: red !important;
}

.notify__modal .notify__modal__body {
    width: 100% !important;
    /*min-height: 100% !important;*/
    padding: 20px !important;
    box-sizing: border-box !important;
    /*margin-bottom: -30px;*/
}

.notify__modal .notify__modal__body div.info {
    /*display: flex !important;*/
    /*justify-content: center !important;*/
    /*align-items: center !important;*/
    color: #332f2f !important;
    font-size: 15px !important;
    font-family: sans-serif;
    max-width: 400px;
}

.notify__modal .notify__modal__footer {
    /*position: absolute;*/
    /*bottom: 5px;*/
    /* left: 35%; */
    /*width: 150px;*/
    text-align: center;
    font-weight: bold;
    height: 37px;
}

.notify__modal .notify__modal__body .image__container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 35px;
}

.notify__modal .notify__modal__body .win__info_container {
    display: flex;
    width: 807px;
    height: 395px;
    background-image: linear-gradient(-45deg, #cee4f1 0%, #e5f0f6 58%, #6ac0f1 100%);
}

.notify__modal .notify__modal__body .image__container p {
    font-size: 28px;
    color: #474646;;
    margin-bottom: 10px;
}

.notify__modal .notify__modal__body .image__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notify__modal .notify__modal__body .info__container {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

.notify__modal .notify__modal__body .info__container_absolute {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    border-radius: 3px;
    justify-content: center;
    text-align: center;
    top: -30px;
    right: 30px;
    box-sizing: border-box;
    padding: 25px 0px;

    width: 390px;
    height: 456px;
    box-shadow: -7px 4px 24px rgba(0, 0, 0, 0.75);
    background-color: #ffffff;
}

.notify__modal .notify__modal__body .info__container_absolute .left__item {
    flex-direction: column;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    padding: 0 5px;
    box-sizing: border-box;
    color: #969595;
    text-align: center;
    width: 50%;
}

.notify__modal .notify__modal__body .info__container_absolute .right__item {
    flex-direction: column;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    padding: 0 5px;
    box-sizing: border-box;
    color: #1b8bcb;
    text-align: center;
    width: 50%;
}

.notify__modal .notify__modal__body .info__container_absolute a {
    width: 142px;
    height: 36px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.notify__modal .notify__modal__body .info__container_absolute p {
    /*width: 114px;*/
    height: 40px;

    /*font-family: "Arial - Bold MT";*/
    font-size: 53px;
    font-weight: 600;
    line-height: 33.41px;
}

.notify__modal .notify__modal__body .info__container_absolute h2 {
    font-size: 27px;
    color: #ff0000;
}

.notify__modal .notify__modal__body .info__container_absolute h3 {
    font-size: 20px;
    color: #ff0000;
}

.notify__modal .notify__modal__body .info__container_absolute .bonus__item {
    margin: 10px 0;
    font-weight: 600;
}

.notify__modal .notify__modal__body .info__container_absolute img {
    margin-top: 25px;
}

.notify__modal .notify__modal__body .info__container_absolute .bottom__item p {
    font-size: 10px;
    font-weight: bold;
}

.notify__modal .notify__modal__body .info__container_absolute .left__item a {
    background-image: url("../img/settings/button_gray.png");
    background-repeat: no-repeat;
}

.notify__modal .notify__modal__body .info__container_absolute .right__item a {
    background-image: url("../img/settings/button_blue.png");
    background-repeat: no-repeat;
}

.notify__modal .notify__modal__body .info__container_absolute .bottom__item {
    display: flex;
    box-sizing: border-box;
    color: #3e8ccb;
    justify-content: center;
    align-items: center;
}

.notify__modal .notify__modal__body .info__container_absolute .bottom__item p {

    height: 32px;
    color: #1f97cc;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.33px;
}

.header .container .right {
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.header .container .right .userin .accaunt .drop-menu.admin__profile > img[alt="drop"] {
    height: 70px;
}

.header .container .right .userin .accaunt .drop-menu.admin__profile li {
    top: -56px;
}

.phpbalance, .phpbonus {
    color: #1B8BCB;
    font-weight: bold;
}

.header .container .right .userin .accaunt:hover .drop-menu {
    display: flex;
}

.header .container .right .userin .accaunt .drop-menu {
    position: absolute;
    top: 105px;
    right: 30px;
    z-index: 10000;
    padding: 30px 15px 10px 15px;
    background-image: url("../img/drop-bg.png");

    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 265px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header .container .right .userin .accaunt .drop-menu li {
    margin-bottom: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.payment {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.payment .payment-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.payment .payment-type > label {
    margin-right: 10px;
}

.payment .payment-type > h4 {
    width: 175px;
    font-weight: 500;
}

.payment .payment-type > ul.payment-lists {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.payment .payment-type > ul.payment-lists > li {
    margin-right: 20px;
}

.payment .payment-type > ul.payment-lists > li > img {
    padding: 4px;
    width: 65px;
    height: 40px;
    object-fit: contain;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    box-shadow: 7px 6px 8px 0px #cacaca;
}