* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #494949;
}

button {
    cursor: pointer;
}

.main .container h1.title {
    font-size: 24px;
    text-align: center;
    margin: 50px 0;
    font-weight: normal;
}


.main .urinfo {
    margin-bottom: 100px;
}

h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.container {
    max-width: 992px;
    margin: 0 auto;
}

.header {
    position: relative;
    z-index: 100;
    width: 100%;
    background-color: #F8F8F8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.header .container {
    display: flex;
    justify-content: space-between;
    height: 129px;
}

.header .container .left {
    position: relative;
    display: flex;
    align-items: flex-start;
    font-weight: bold;
    flex-direction: column;
    font-size: 13px;
}

.header .container .left .text {
    color: #1B8BCB;
    position: absolute;
    bottom: 30px;
    left: 12px;
    white-space: nowrap;
}

.header .container .right .authorization {
    display: flex;
    justify-content: center;
    font-size: 16px;

}

.header .container .right .authorization .registration {
    padding: 13px 12px;
    background-color: #1B8BCB;
    border-right: 1px solid #E5E5E5;
    color: #ffffff;
    text-align: center;
}

.header .container .right .authorization .registration:hover {
    text-shadow: 0px 0px 4px #FFFFFF;
}

.header .container .right .authorization .login {
    padding: 13px 12px;
    background-color: #1B8BCB;
    color: #ffffff;
}

.header .container .right .authorization .login:hover {
    text-shadow: 0px 0px 4px #FFFFFF;
}

.header .container .right p {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.header .container .right li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.header .container .right img {
    width: 40px;
    height: 40px;
}

/*Для аккаунта*/
.header .container .right .userin {
    display: flex;
    align-items: center;
}

.header .container .right .userin a {
    color: #494949;
}

.header .container .right .userin .accaunt {
    display: flex;
    align-items: center;
    margin-left: 44px;
}

.header .container .right .userin .accaunt a {
    display: flex;
}

.header .container .right .userin .accaunt .username {
    margin-right: 10px;
    font-weight: bold;
}

.header .container .right .userin .accaunt .avatar {
    width: 79px;
    height: 79px;
}

.header .container .right .userin .accaunt .drop-menu li p {
    border-bottom: 2px solid #ffffff;
}

.header .container .right .userin .accaunt .drop-menu li p:hover {
    border-bottom: 2px solid #1B8BCB;
}

.header .container .right .userin .accaunt .drop-menu li img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.header .container .right .userin .drop-menu img {
    width: 263px;
    height: 149px;
}

.overlay .modal.open form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
    padding: 40px;
    -webkit-box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
}

.overlay .modal.open form h1 {
    margin-bottom: 10px;
}

.overlay .modal.open form p {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}

.overlay .modal.open form input {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
}

.overlay .modal.open form input[type="text"], .overlay .modal.open form input[type="password"] {
    -webkit-box-shadow: inset 0px 0px 24px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 24px -10px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 24px -10px rgba(0, 0, 0, 0.75);
    border: none;
    outline: none;
    box-sizing: border-box;
}

.overlay .modal.open form input.sub {
    border: none;
    margin-top: 20px;
    cursor: pointer;
}


.nav {
    background-color: #F8F8F8;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    height: 49px;
}

.nav .active {
    border-bottom: 4px solid #1B8BCB;
    position: relative;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.nav ul li {
    display: flex;
}

.nav ul a {
    color: #494949;
    padding: 15px 0 11px 0;
}

.nav .active:hover {
    border: none;
}

.nav ul a:hover {
    border-bottom: 4px solid #1B8BCB;

}

.overlay .modal.open form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay .modal.open form p {
    margin-bottom: 5px;
}

.overlay .modal.open form input {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}

.overlay .modal.open form input.sub {
    border: none;
    margin-top: 20px;
    cursor: pointer;
}


.hamburger {
    display: none;
}

/*.name-page {*/
/*    display: none;*/
/*}*/

.footer {
    width: 100%;
    background: #1B8BCB;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    padding: 40px 0;
}

.footer a {
    color: #ffffff;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer .container .left {
    display: flex;
    width: 60%;
}

.footer .container .logo {
    margin-bottom: 10px;
}

.footer .container .left .description {
    font-size: 16px;
}

.footer .container .left p span {
    font-size: 12px;
}

.footer .container .social .title {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer .container .social img {
    width: 25px;
    height: 25px;
}

.footer .container .social li {
    display: flex;
    align-items: center;
}

.footer .container .social li span {
    margin-left: 5px;
}

.footer .container .right {
    text-align: right;
}

.footer .container .right p {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer .container .right {
    line-height: 120%;
}


.down-footer {
    background: #167DB8;
    font-size: 14px;
    color: #ffffff;
}

.down-footer .container {
    display: flex;
    justify-content: space-between;
}

.down-footer .container p {
    padding: 5px 0;
}

.down-footer .container a {
    text-decoration: underline;
    color: #ffffff;
}


.main .accordeon {
    margin: 80px 0;
}

.main .container .howitwork {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}

.main .container .howitwork .step {
    position: relative;
    margin: 15px 0;
}

.main .container .howitwork .step .bg {
}

.main .container .howitwork .step h3 {
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 30px;
}

.main .container .howitwork .step span {
    position: absolute;
    top: 50px;
    left: 140px;
    font-weight: bold;
    text-transform: uppercase;
}

.main .container .howitwork .step span.yellow {
    color: #F6CE5D;
    left: 200px;
}

.main .container .howitwork .step span.red {
    color: #EA5A52;
    left: 230px;
}

.main .container .howitwork .step span.blue {
    color: #6C9DC6;
    left: 180px;
}

.main .container .howitwork .step span.purple {
    color: #6E5EA7;
    left: 230px;
}

.main .container .howitwork .step p {
    position: absolute;
    width: 50%;
    top: 80px;
    left: 140px;
}

.main .container .howitwork .step .infoimg {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0px, -50%);
    -webkit-transform: translate(0px, -50%);
    -moz-transform: translate(0px, -50%);
    -o-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
}

.main .container .howitwork .right {
    margin-left: auto;
}


.main .conainer .accordeon {
    min-height: 0;
    display: inline-block;
    position: relative;
    left: 50%;
    margin: 90px 0;
    transform: translate(-50%, 0);
    box-shadow: 0 10px 0 0 #ff6873 inset;
    background-color: #fefffa;
    max-width: 450px;
    padding: 30px;
    padding-bottom: 400px;
}

@media (max-width: 550px) {
    .main .conainer .accordeon {
        box-sizing: border-box;
        transform: translate(0, 0);
        max-width: 100%;
        min-height: 100%;
        margin: 0;
        left: 0;
    }
}

.accordeon h1,
.accordeon h2 {
}

.accordeon h1 {
    font-size: 24px;
    line-height: 42px;
    letter-spacing: 3px;
    font-weight: 100;
}

.accordeon h2 {
    font-size: 18px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    cursor: pointer;
}

.accordeon p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
}

.accordeon ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
}

.accordeon ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px dotted #dce7eb;
}

.accordeon ul li:last-of-type {
    padding-bottom: 0;
}

.accordeon ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
}

.accordeon ul li i:before,
.accordeon ul li i:after {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 9px;
}

.accordeon ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}

.accordeon ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}

.accordeon ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.accordeon ul li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

.accordeon ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
}

.accordeon ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }
    5% {
        opacity: 1;
    }
    80% {
        transform: rotateX(8deg);
    }
    83% {
        transform: rotateX(6deg);
    }
    92% {
        transform: rotateX(-3deg);
    }
    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
}

.transition, .accordeon p, .accordeon ul li i:before, .accordeon ul li i:after {
    transition: all 0.25s ease-in-out;
}

.flipIn, .accordeon h1, .accordeon ul li {
    animation: flipdown 0.5s ease both;
}

.no-select, .accordeon h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*.main>.container{*/
/*    display: block;*/
/*}*/
.payment-methods {
    margin-bottom: 15px;
}

.payment-methods img {
    max-width: 100%;
}

.name-page {
    display: none;
}

iframe:focus {
    outline: none;
}

iframe[seamless] {
    display: block;
}

.video-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.video-content > .video-item {
    width: 600px;
    height: 400px;
    margin-bottom: 20px;
}

.video-content > .video-item > iframe {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 991.98px) {
    .main .container {
        padding: 0 5px;
    }

}

@media screen and (max-width: 767.98px) {

    .video-content > .video-item{
        width: 100%;
        height: auto;
    }
    .main .container .howitwork .step p {
        width: 45%;
    }
}

@media screen and (max-width: 575.98px) {
    .main .container .howitwork .step .bg {
        width: 300px;
        height: 150px;
    }

    .main .container .howitwork .step .infoimg {
        display: none;
    }

    .main .container .howitwork .step h3 {
        left: -10px;
        top: 40px;
        font-size: 21px;
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
    }

    .main .container .howitwork .step span {
        top: 20px !important;
        left: 76px !important;
        font-size: 14px;
    }

    .main .container .howitwork .step p {
        width: 70% !important;
        left: 75px !important;
        top: 50px !important;
        font-size: 14px;
    }
}
