@media only screen and (min-width: 320px) and (max-width: 410px) {
    .bonus__30 {
        top: calc(-72vw / 2) !important;
    }
}

@media screen and (max-width: 417px) {
    .inf__active, .buy__now, .auto__bid, .info__my__bid, .log-bid {
        width: 100% !important;
        overflow: scroll !important;

    }
}

@media screen and (max-width: 576px) {
    .authenticate form {
        padding: 10px 5px;
    }

    .header .left p.text {
        display: none;
    }

    .header .container .right .userin .accaunt {
        margin-left: 10px !important;
    }

    .overlay {
        padding: 0;
    }

    .personal-info > .personal-edit .personal-item {
        flex-wrap: wrap !important;
    }

    .header .container {
        flex-direction: column;
        align-items: center;
        height: auto;
        /* padding: 15px 0; */
    }

    .header .container .left {
        position: fixed;
        top: 0;
        background-color: #F8F8F8;
        width: 100%;
        padding: 15px 0px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        /*padding-left: 15px;*/
    }

    .header .container .left .text {
        bottom: 13px;
        white-space: pre-wrap;
    }

    .header .container .right {
        /* margin-top: 145px; */
        padding: 15px 0;
    }

    .nav {
        display: none;
    }

    .name-page {
        display: block;
        width: 100%;
        background-color: #F8F8F8;
    }

    .name-page p {
        padding: 15px 0;
        font-weight: bold;
        text-align: center;
    }

    .slider .first img {
        padding-bottom: 15px;
    }

    .slider .first {
        padding: 0;
    }

    .hamburger {
        display: block;
    }

    .delete-margin {
        margin: 0;
    }


    .footer .container {
        flex-direction: column;
        align-items: center;
    }

    .footer .container > div {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .footer .container .description {
        margin-bottom: 30px;
    }

    .footer .container .logo {
        margin-bottom: 10px;
    }

    .footer .container .right {
        text-align: left;

        width: 60%;
    }

    .down-footer .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 95%;
    }

    .hamburger {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    #orders > .item {
        height: auto;
    }

    #orders > .item > .block__img,
    #orders > .item > .block__content {
        flex: 100%;
    }

    #orders > .item > .block__img {
        padding-right: 0px;
    }

    .header .container .right .userin .accaunt .drop-menu,
    .header .container .right .userin .accaunt:hover .drop-menu {
        display: none;
    }

    .win__info_container {
        width: 100% !important;
        justify-content: center;
        align-items: center;
    }

    #auction_page .info__text {
        margin-top: 10px !important;
    }

    .win__info_container .image__container {
        display: none !important;
    }

    .win__info_container .info__container {
        width: 100% !important;
    }

    .win__info_container .info__container_absolute {
        position: static !important;
        width: 100% !important;
    }

    .subscribe {
        width: auto !important;
    }

    .delete-margin {
        margin: 0;
    }


    .footer .container {

        flex-direction: column;
        align-items: normal;
    }

    .footer .container > div {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .footer .container .description {
        margin-bottom: 30px;
    }

    .footer .container .logo {
        margin-bottom: 10px;
    }

    .footer .container .right {
        text-align: left !important;
        width: 60%;
    }

    .down-footer .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 95%;
    }

    .personal-info > .personal-desc, .personal-edit {
        width: 100% !important;
    }

    .personal-info > .personal-edit input, select {
        width: 100% !important;
    }

    .personal-info > .personal-edit input[type="checkbox"] {
        width: auto !important;
    }

    .personal-info .personal-item-title {
        max-width: 100% !important;
    }
}

@media screen and (max-width: 992px) {
    .header .container .right .userin .accaunt:hover .drop-menu {
        display: none;
    }

    .header .container {
        /* padding: 0 15px; */
    }

    .slider .first img {
        position: relative;
        top: 10px;
    }

    .footer .container {
        padding: 0 15px;
    }

    .order-panel {
        padding: 10px;
    }

    .order-desc {
        margin: 0;
    }

    .order-price {
        min-width: 100%;
    }

    .delete-margin {
        margin: 0;
    }

    .footer > .payment-methods .container {
        display: block !important;
    }

    .footer > .payment-methods img {
        width: 100%;
    }

    .footer > .payment-methods ul {
        display: none !important;
    }

}

@media screen and (max-width: 1200px) {
    .slider .first img {
        position: relative;
        top: 20px;
    }
}
