
.overlay {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  pointer-events: none;
  transition: 0.35s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
}
.overlay.open {
  opacity: 1;
  pointer-events: inherit;
}
.overlay .modal {
  background: white;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
  opacity: 0;
  pointer-events: none;
  transition: 0.35s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
}
.overlay .modal.open {
  opacity: 1;
  pointer-events: inherit;
}
.overlay .modal.open .content {
  transform: translate(0, 0px);
  opacity: 1;
}
.overlay .modal .content {
  transform: translate(0, -10px);
  opacity: 0;
  transition: 0.35s ease-in-out;
}
.overlay .modal .title {
  margin-top: 0;
}
/*style.css*/
.overlay .modal.open form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
    padding: 40px;
    -webkit-box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
}

.overlay .modal.open form h1 {
    margin-bottom: 10px;
}

.overlay .modal.open form p {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}

.overlay .modal.open form input {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
}

.overlay .modal.open form input[type="text"], .overlay .modal.open form input[type="password"] {
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.77);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.77);
    border: none;
    outline: none;
    padding: 10px;
}

form#register a{
    color: blue !important;
}
form#register p{
    font-weight:bolder !important;
}
input[type="checkbox"].fail{
    box-shadow:inset 0px 0px 5px 0px red;
}
.alert.alert-danger{
    display: block;
    color: red;
}

/*end*/
