* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'georgiai';
    src: url('fonts/georgiai.ttf');
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #494949;
}

button {
    cursor: pointer;
}

.container {
    max-width: 992px;
    margin: 0 auto;
}

.header {
    position: relative;
    z-index: 100;
    width: 100%;
    background-color: #F8F8F8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.header .container {
    display: flex;
    justify-content: space-between;
    height: 129px;
}

.header .container .left {
    position: relative;
    display: flex;
    align-items: flex-start;
    font-weight: bold;
    flex-direction: column;
    font-size: 13px;
}

.header .container .left .text {
    color: #1B8BCB;
    position: absolute;
    bottom: 30px;
    left: 12px;
    white-space: nowrap;
}

.header .container .right .authorization {
    display: flex;
    justify-content: center;
    font-size: 16px;

}

.header .container .right .authorization .registration {
    padding: 13px 12px;
    background-color: #1B8BCB;
    border-right: 1px solid #E5E5E5;
    color: #ffffff;
    text-align: center;
}

.header .container .right .authorization .registration:hover {
    text-shadow: 0px 0px 4px #FFFFFF;
}

.header .container .right .authorization .login {
    padding: 13px 12px;
    background-color: #1B8BCB;
    color: #ffffff;
}

.header .container .right .authorization .login:hover {
    text-shadow: 0px 0px 4px #FFFFFF;
}

.header .container .right p {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.header .container .right li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.header .container .right img {
    width: 40px;
    height: 40px;
}

/*Для аккаунта*/
.header .container .right .userin {
    display: flex;
    align-items: center;
}

.header .container .right .userin a {
    color: #494949;
}

.header .container .right .userin .accaunt {
    display: flex;
    align-items: center;
    margin-left: 44px;
}

.header .container .right .userin .accaunt a {
    display: flex;
}

.header .container .right .userin .accaunt .username {
    margin-right: 10px;
    font-weight: bold;
}

.header .container .right .userin .accaunt .avatar {
    width: 79px;
    height: 79px;
}

.header .container .right .userin .accaunt .drop-menu li p {
    border-bottom: 2px solid #ffffff;
}

.header .container .right .userin .accaunt .drop-menu li p:hover {
    border-bottom: 2px solid #1B8BCB;
}

.header .container .right .userin .accaunt .drop-menu li img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.header .container .right .userin .drop-menu img {
    width: 263px;
    height: 149px;
}

.overlay .modal.open form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
    padding: 40px;
    -webkit-box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
}

.overlay .modal.open form h1 {
    margin-bottom: 10px;
}

.overlay .modal.open form p {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}

.overlay .modal.open form input {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
}

.overlay .modal.open form input[type="text"], .overlay .modal.open form input[type="password"] {
    -webkit-box-shadow: inset 0px 0px 24px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 24px -10px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 24px -10px rgba(0, 0, 0, 0.75);
    border: none;
    outline: none;
    box-sizing: border-box;
}

.overlay .modal.open form input.sub {
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.nav {
    background-color: #F8F8F8;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    height: 46px;
}

.nav .active {
    border-bottom: 4px solid #1B8BCB;
    position: relative;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.nav ul li {
    display: flex;
}

.nav ul a {
    color: #494949;
    padding: 15px 0 11px 0;
}

.nav .active:hover {
    border: none;
}

.nav ul a:hover {
    border-bottom: 4px solid #1B8BCB;

}


.hamburger {
    display: none;
}

.name-page {
    display: none;
}

.footer {
    width: 100%;
    background: #1B8BCB;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    padding: 40px 0;
}

.main {
    width: 100%;
    padding: 15px 0;
}

.main .container > p {
    padding: 10px 0;
}

.main .container .title {
    font-size: 24px;
    margin-top: 30px;
}

.main .blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main .blocks .kupon {
    /*background-image: url(img/kupon.png);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 237px;
    height: 257px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.main .blocks .kupon input {

}

.main .blocks .kupon .price {
    font-size: 24px;
    color: #FF3249;
    margin-bottom: 35px;
}

.main .blocks .kupon .nominal {
    font-size: 24px;
    color: #FF3249;
}

.main .payment {
    display: flex;
    justify-content: center;

}

.main .payment .pay {
    margin: 15px 15px;
    width: 127px;
    text-transform: uppercase;
    background-color: #1B8BCB;
    display: flex;
    justify-content: center;
    padding: 7px 0;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;

}

.main .payment .pay.active {
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main .center {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.footer a {
    color: #ffffff;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer .container .left {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.footer .container .logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer .container .left .description {
    font-size: 16px;
}

.footer .container .left p span {
    font-size: 12px;
}

.footer .container .social .title {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer .container .social img {
    width: 25px;
    height: 25px;
}

.footer .container .social li {
    display: flex;
    align-items: center;
}

.footer .container .social li span {
    margin-left: 5px;
}

.footer .container .right {
    text-align: right;
}

.footer .container .right p {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer .container .right {
    line-height: 120%;
}


.down-footer {
    background: #167DB8;
    font-size: 14px;
    color: #ffffff;
}

.down-footer .container {
    display: flex;
    justify-content: space-between;
}

.down-footer .container p {
    padding: 5px 0;
}

.down-footer .container a {
    text-decoration: underline;
    color: #ffffff;
}

#slides {
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 50px 0;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

#slides i img {
    position: absolute;
    height: 60px;
    z-index: 10;
    top: calc(50% - 30px);
    right: 0;
    cursor: pointer;

}

.slide img {
    height: 200px;
}

.slide p {
    width: 60%;
    margin-right: 50px;

}

.slide p span {
    font-weight: bold;
    padding-bottom: 10px;
}


.showing {
    opacity: 1;
    z-index: 2;
}

.payment-methods {
    margin-bottom: 15px;
}

.payment-methods img {
    max-width: 100%;
}

.about,
.feedback,
.send-feedback {
    margin-bottom: 60px;
}

.about > .title,
.feedback > .title,
.send-feedback > .title {
    font-size: 20px !important;
    padding: 10px;
    color: #ffffff;
    background-color: #1B8BCB;
}

.about > .content,
.feedback > .reviews {
    padding: 20px 0;
}

.feedback > .reviews {
    padding: 20px 0;
    max-height: 460px;
    overflow-y: scroll;
}

.feedback > .reviews > .review {
    display: flex;
    flex-direction: row;
}

.feedback > .reviews > .review > .review-img {
    flex: 5%;
    padding: 10px;
}

.feedback > .reviews > .review > .review-body {
    flex: 95%;
    padding: 10px;
    color: #737373;
}

.feedback > .reviews > .review > .review-body > p {
    font-weight: bold;
    margin-bottom: 10px;
}

.feedback > .reviews > .review > .review-img > img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.send-feedback form input:not([type="checkbox"]),
.send-feedback form textarea {
    width: 100%;
}

.send-feedback form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px 0;
}

.send-feedback form div.name,
.send-feedback form div.e-mail,
.send-feedback form div.msg,
.send-feedback form div.agree,
.send-feedback form div.buttons {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.send-feedback form div.name,
.send-feedback form div.e-mail,
.send-feedback form div.agree,
.send-feedback form div.buttons {
    flex-basis: 48%;
}

.send-feedback form div.agree > label,
.send-feedback form div.buttons > label {
    margin-bottom: 10px;
}

.send-feedback form div.agree,
.send-feedback form div.buttons {
    justify-content: space-between;
    align-items: flex-start;
}

.send-feedback form div.buttons {
    align-items: flex-end;
}

.send-feedback form div.msg {
    flex-basis: 100%;
}

.send-feedback form textarea,
.send-feedback form input {
    padding: 10px;
}

.send-feedback .buttons {
    /*display: flex;*/
    /*margin-top: 10px;*/
    /*margin-bottom: 50px;*/
}

.send-feedback .buttons input[type ="file"] {
    display: none;
}

.send-feedback .buttons input[type ="submit"],
.send-feedback .buttons label {
    width: 200px;
    background: #1B8BCB;
    border: none;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    padding: 10px 16px;
}

@media screen and (max-width: 991px) {
    .main .container {
        padding: 0 5px;
    }
}

@media screen and (max-width: 768px) {
    .send-feedback form div.name,
    .send-feedback form div.e-mail,
    .send-feedback form div.agree,
    .send-feedback form div.buttons {
        align-items: center;
        flex-basis: 100%;
    }

    .send-feedback .buttons input[type ="submit"],
    .send-feedback .buttons label {
        width: 100%;
    }
}
